.login-main p{
    margin: 0px !important;
}

.login-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.login-main .error{
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.login-main h2{
    font-weight: 600;
    color: #333333;
}

.login-field input{
    width: 350px;
    height: 40px;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    padding: 3px 5px 3px 8px;
    margin-bottom: 10px;
    font-size: 16px;
}

.login-field p{
    color: #333333;
    margin-bottom: 10px;
}

.login-main Button{
    background-color: #0b3b79;
    margin: 10px 0px 8px 0px;   
}

.login-main .signup-toggle{
    color:#0b3b79;
    font-weight: 600;
    text-decoration: underline;
}

.login-main .signup-toggle:hover{
    cursor: pointer;
}


.login-error-popup p{
    margin: 0px;;
}

.login-error-popup{
    position: fixed;
    bottom: 7%;
    right: 4%;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    pointer-events: none;
    padding: 10px 20px;
    border:2px solid red;
    color: red;
    font-weight: 650;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}