/* Styling the scrollbar for Chrome, Safari & newer versions of Opera */
.task-list::-webkit-scrollbar {
    width: 7px; /* Adjust width for vertical scroll thumb */
}

.task-list::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

.task-list::-webkit-scrollbar-thumb {
    background: #bfbfbf; /* Color of the scroll thumb */
    border-radius: 25px;
}

.task-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
}

.todo-column p{
    margin-bottom: 0 !important;
}

.todo-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.task-list{
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #28A067; */
    width: 97%;
    height: 90%;
    gap: 15px;
    /* Styling the scrollbar for Firefox */
    scrollbar-width: thin; /* or "none" if you want to hide it */
    scrollbar-color: #888 #f1f1f1; /* thumb and track color */
}

.todo-outline{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 95%;
    /* border: 2px solid #2b2b2b; */
    border-radius: 30px;
    overflow-y: hidden;
}

.todo-column-title{
    width: 97%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    margin: 5px 0px 10px 0px; 
}

.todo-column-title h5{
    margin-bottom: 0 !important;
}

.todo-text-color{
    color: #ffffff;
    background-color: #0b3b79;
}

.in-progress-text-color{
    color: #ffffff;
    background-color: #AA5D63;
}

.completed-text-color{
    color: #ffffff;
    background-color: #28A067;
}

.new-task-btn{
    width: 90%;
    background-color: rgb(144, 144, 144);
    border: none;
    margin: 0px 0px 10px 0px;
}

.new-task-btn:active{
    background-color: rgb(40, 40, 40) !important;
    border: none;
}

.new-task-btn:hover{
    width: 90%;
    background-color: rgb(99, 99, 99) !important;
}